

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.attribution { 
    font-size: 20px;
    text-align: center;
    border: 1px solid #123;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    position: relative;
}

.attribution::after{
    content: '';
    background-color: #32414e;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 0;
    transition: 0.5s;
    z-index: -1;
}

.attribution:hover::after{
    width: 100%;
}

.attribution:hover {
    color: #fff;
}

.attribution a {
    color: hsl(290, 33%, 44%); 
}

body{
    background-color: #999;
}

.container{
    width: 80%;
    margin: auto;
    height: 320px;
    background-color: #123;
    border-radius: 5px;
}

.container::after{
    content: '';
    background-color: #1d242b;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 0;
    transition: 0.5s;
    z-index: -1;
}

.container:hover::after{
    width: 100%;
}

.container:hover h1{
    color: #fff;
}

.item{
    width: 80%;
    text-align:center;
    margin: 40px auto;
}

.item img{
    height: 190px;
}

h1{
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    margin: 20px;
    color: rgb(55, 0, 255);
}